@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
	margin: 0;
	color: white;
	font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	font-size: 18px;
}

html {
	height: 100%
}

body {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;
	
	overflow: hidden;

	background-image: url("./assets/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.objects-container {
	margin: 0 487px;
}

.object {
	border-radius: 26px;
	backdrop-filter: saturate(200%) blur(30px);
  background-color: rgba(255, 255, 255, 0.3);
}

.search-bar {
	border-radius: 50px;
	font-weight: 500;
	width: calc(505-21)px;
	padding: 21px 27px;
}

.search-bar input {
	all: unset;
	width: 100%
}

::placeholder {
	color: white;
}

.pin-container {
	margin-top: 40px;
	margin-bottom: 60px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.pin {
	height: 120px;
	width: 120px;
	background-position: center;
	background-repeat: no-repeat;
}

.information-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.timetable {
	padding: 36px 72px;
}

#schoolinfo {
	font-weight: 700
}

.tables {
	margin-top: 29px;
	display: flex;
	flex-direction: row;
}

.table:first-child {
	border-right: solid rgba(255, 255, 255, 0.5) 2px; 
}

.table {
	padding: 0 48px;
}

#weekday {
		font-weight: 600;
}

.diet {
	margin-left: 30px;
	padding: 36px 47px;
}

#date {
	font-weight: 700;
}

#diet {
	width: 197px;
	text-overflow: ellipsis
}

header {
	display: block;
	height: 154px;
}

footer {
	display: block;
	height: 154px;
}
